<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; windows-1251" http-equiv="Content-Type"/>
<title></title>
<%= stylesheet_link_tag "style", "smoothDivScroll"  %>
<%= javascript_include_tag :defaults, "jquery-ui", "domtab.js", "jquery.smoothDivScroll-1.1-min", "jquery.smoothDivScroll-1.1" %>
<%= include_tiny_mce_if_needed %>
<%= csrf_meta_tag %>
<style>

#dialog-form {
text-decoration: none;
text-shadow: none;
text-align: center;
font-weight: bold;
}

.ui-dialog-titlebar-close {
  display:none;
}

button.ui-widget {
  margin: 0px 0px 20px 1010px;
  box-shadow:0;
  padding:0;
}

.ui-widget {
  background: white;
    -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
  -webkit-animation: minimise 500ms linear;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  text-shadow: 0 1px 0 #fff;
}

.ui-widget-overlay {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

#makeMeScrollable {
width: 70%;
height: 512px;
position: relative;
float: left;
margin-left: 20px;
padding:0;
}
#makeMeScrollable div.scrollableArea img
    {
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
    }
</style>

<script type="text/javascript">
  $(window).load(function() {
    $("div#makeMeScrollable").smoothDivScroll({ 
      autoScroll: "onstart" , 
      autoScrollDirection: "backandforth", 
      autoScrollStep: 1, 
      autoScrollInterval: 15, 
      startAtElementId: "startAtMe", 
      visibleHotSpots: "always"
    });
  });
</script>
<script type="text/javascript">

jQuery(function($) {
  var slide = false;
  var height = $('#footer_content').height();
  $('#footer_button').click(function() {
    var docHeight = $(document).height();
    var windowHeight = $(window).height();
    var scrollPos = docHeight - windowHeight + height;
    $('#footer_content').animate({ height: "toggle"}, 700);
    if(slide == false) {
      if($.browser.opera) { //Fix opera double scroll bug by targeting only HTML.
        $('html').animate({scrollTop: scrollPos+'px'}, 700);
      } else {
        $('html, body').animate({scrollTop: scrollPos+'px'}, 700);
      }
                               slide = true;
    } else {
                               slide = false;
                       }
  });
});
</script>
</head>
<body>
<div id="fb-root"></div>
<div id="wrapper">
  <div id="top">
      <a href="/" title="">
      <img src="/images/logo.png" alt="" style="padding-left:50px;"/>
      </a>
      <div id="menu">
        <ul>
        <li><a href="">
        <div id="spinner" class="spinner">
          <img id="img-spinner" src="/images/ajax-loader.gif" alt="Loading"/>
        </div>
          КОЛЛЕКЦИЯ 2011
          <ul class="submenu">
            <li><a href="">ЛЕТО</a></li>
            <li><a href="">ОСЕНЬ</a></li>
            <li><a href="">ЗИМА</a></li>
            <li><a href="">ВЕСНА</a></li>
          </ul>
          </a>
        </li>
        </ul>
      </div>
      <div class="social">
        <ul>
          <li>
          <a href="http://www.facebook.com/" target="_blank">
          <img alt="" src="/images/facebook.png"/></a>
          </li>
          <li>
          <a href="http://www.twitter.com/" target="_blank">
          <img alt="" src="/images/twitter.png"/></a>
          </li>
          <li>
          <a href="http://www.youtube.com/" target="_blank">
          <img alt="" src="/images/youtube.png"/></a>
          </li>
        </ul>
      </div>
  </div>
  <div id="content">
    <div class="space">
    </div>
    <div id="left_pane">
      <div class="logo">
      <img alt="" src="/images/zegna_logo.png"/></a>
      </div>
        <div class="menu">
          <% if content_for?(:brands) %>
            <%= yield(:brands) %>
          <% end %>
          <% if content_for?(:promo) %>
            <div><%= yield(:promo) %></div>
          <% end %>
        </div>
    </div>

    <div id="catalog">

      <%= yield %>

    </div>
  </div><!--end of content-->
  <%= render "layouts/footer" %>
  <div id="mask"></div>
  </div>
</div>
<!-- this will work with any number of images -->
<!-- set the active class on whichever image you want to show up as the default 
(otherwise this will be the last image) -->


</body>
</html>